h1 {
    color:crimson
}
#thirdDiv img {
    width: 400px;
}
#thirdDiv {
    height: 1100px;
    width: 500px;
}
#thirdDiv {
    background-color: gold;
}
#spanId {
    font-size: 18px;
}
#spanId {
    margin: 50px;
}
#thirdDiv {
    border: solid red 4px;
}